*
{
    margin: 0px;
    padding: 0px;
}
.p1
{
    width: 100%;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
}
.c1
{
    height: 300px;
    width: 15%;
    background-color: rgb(250, 31, 31);
}
.p2
{
    width: 100%;
    background-color: rgb(12, 11, 11);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
}
.c2
{
    height: 300px;
    width: 20%;
    background-color:gray;
}